<html>
<title>
    SMRT+ Learning
</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<style>
    .navbarspacing {
        width: 1in;
    }
    
    .navbarspacingmiddle {
        width: 5.8in;
    }
</style>

<body>

    <div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbarspacing" href="#"></a>
            <a class="navbar-brand" href="http://127.0.0.1:5000/">SMRT+ Learning</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://127.0.0.1:5000/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/terms">Terms and conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/todo">To-Do</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shortcuts">Keyboard Shortcuts</a>
                    </li>
                    <a class="navbarspacingmiddle" href="#"></a>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/signup">Sign Up</a>
                        <a class="navbarspacing" href="#"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br />
    <br />
    <div class="container">
        <h1 style="font-size: 48px; font-weight: bold; font-family: helvetica; text-align: center;">
            Welcome, {{ nameofuser }}!
        </h1>
        <p style="font-family: helvetica; text-align: center;">Click
            <a href="http://127.0.0.1:5000/">HERE</a> to return to home screen
        </p>
    </div>
</body>
<script>
</script>

</html>